.home-container{
    display : flext;
    justify-content: centers;
    align-items: center;
    height: 100vh;
    margin-left: 35rem;
    margin-top: 8rem;

}

/* //baki css udya */

.card{
   margin-top: 2rem;
   margin-right: 1rem;
justify-items: right;
justify-content: right;
width: 25rem;
height: 15rem;

}