@import "tailwindcss";

body.dark .navbar {
    background-color: #1a1a1a;
    border-bottom: 1px solid #444;
  }
  
  body.dark .sub-navbar {
    background-color: #2a2a2a;
    border-bottom: 1px solid #444;
  }
  
  body.dark .nav-link,
  body.dark .icon-button,
  body.dark .signin-btn,
  body.dark .sub-navbar a {
    color: #f0f0f0;
  }
  
  body.dark .signin-btn {
    background-color: #333;
  }
  

